# Ridge And Lasso Regression

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv("C:/Users/korla/Desktop/krish codes/Multiple-Linear-Regression-master/50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [56]:
df.State.head()

0      New York
1    California
2       Florida
3      New York
4       Florida
Name: State, dtype: object

In [57]:
df.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [58]:
len(df.State.unique())

3

In [59]:
df.State.value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [60]:
a = pd.get_dummies(df.State,drop_first=True)
a.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [61]:
df = pd.concat([df,a],axis = 1)
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,1
1,162597.70,151377.59,443898.53,California,191792.06,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,1,0

In [62]:
df = df.drop(['State'],axis = 1)
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [63]:
X = df.drop(['Profit'],axis = 1)
y=df.Profit

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [66]:
X_test.head()

    R&D Spend  Administration  Marketing Spend  Florida  New York
13   91992.39       135495.07        252664.93        0         0
39   38558.51        82982.09        174999.30        0         0
30   61994.48       115641.28         91131.24        1         0
45    1000.23       124153.04          1903.93        0         1
17   94657.16       145077.58        282574.31        0         1

In [67]:
X_test.head()

    R&D Spend  Administration  Marketing Spend  Florida  New York
13   91992.39       135495.07        252664.93        0         0
39   38558.51        82982.09        174999.30        0         0
30   61994.48       115641.28         91131.24        1         0
45    1000.23       124153.04          1903.93        0         1
17   94657.16       145077.58        282574.31        0         1

In [68]:
y_train.head()

46     49490.75
47     42559.73
15    129917.04
9     149759.96
16    126992.93
Name: Profit, dtype: float64

In [72]:
y_test.head()

13    134307.35
39     81005.76
30     99937.59
45     64926.08
17    125370.37
Name: Profit, dtype: float64

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
reg = LinearRegression()

In [81]:
reg.fit(X_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [82]:
reg.intercept_

57183.41295217193

In [83]:
reg.coef_

array([ 8.04312540e-01, -8.99140461e-02,  2.84812890e-02,  4.03924487e+02,
       -1.21407965e+03])

In [84]:
X_train_pred = reg.predict(X_train)
X_train_pred

array([ 56694.07716541,  45006.63062018, 144512.857242  , 155297.68934747,
       116525.92444407, 113013.76150971,  86349.3742125 ,  93924.61183384,
       190089.75258858,  61909.01028595, 112528.69135221,  99068.57747849,
       163399.5925741 ,  98028.35104457, 137014.91440024,  74946.17221837,
       186994.61279621, 113729.48015644, 183526.36401409,  57999.3873584 ,
        91185.43447747, 111076.30148411,  74573.36956591, 136140.14104102,
       114701.11961731, 129516.0196457 ,  47951.5131393 , 116783.42821569,
       158526.98617222,  71764.57297254, 147289.19615997,  97656.01500381,
        71587.18986212])

In [99]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train,X_train_pred)

86483868.10707933

since we cannot assume the error is perfect while using train_test_split

in such a case we assume cross validation concept which perfectly divides the training and testing data part equally in each validation part

In [100]:
from sklearn.model_selection import cross_val_score
mse=cross_val_score(reg,X,y,scoring='neg_mean_squared_error',cv=5)
mean_mse=np.mean(mse)
print(mean_mse)

-103214540.65453282

# Ridge Regression

In [95]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
ridge_regressor=GridSearchCV(ridge,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(X,y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 45, 50, 55, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [96]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 100}
-95313733.71625288

since when compared the mean-square-error using linear regression it gives high error value because of high value slope  value.
for test data

using Ridgo Regression we just penalize the line by reducing the value for the slope 

on doing this the slope value just reaches close to 0 but not exactly 0

the line which have less error value that particular line will be selected 

the Regularaization concept comes into picture when there is overfitting means low Bias and High Variance

the Ridge Regression will increase the bias value for the curve and reduce the variance it will get managed 


the error that gives by Ridge regression coming close to 0 step by step 

if the lambda value increases in a wide Range the error comes close to zero

# Lasso Regression

In [102]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
lasso=Lasso()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
lasso_regressor=GridSearchCV(lasso,parameters,scoring='neg_mean_squared_error',cv=5)

lasso_regressor.fit(X,y)
print(lasso_regressor.best_params_)
print(lasso_regressor.best_score_)

C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1806345443.1447966, tolerance: 3540722.7272819597
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1349916735.8055542, tolerance: 7353414.711857761
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1816271319.0495806, tolerance: 7918944.417383279
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1665593316.1679666, tolerance: 7455246.2035603095
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 965618535.588667, tolerance: 3785388.2421611636
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1803316195.7887468, tolerance: 3540722.7272819597
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1344260776.0745153, tolerance: 7353414.711857761
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1814170436.7005012, tolerance: 7918944.417383279
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1664230481.8212376, tolerance: 7455246.2035603095
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 963819344.9634453, tolerance: 3785388.2421611636
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1195661566.871731, tolerance: 3540722.7272819597
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1265805911.6264963, tolerance: 7353414.711857761
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1455341750.8141015, tolerance: 7918944.417383279
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1431464291.869044, tolerance: 7455246.2035603095
  positive)
C:\Users\korla\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 603077127.9796338, tolerance: 3785388.2421611636
  positive)

{'alpha': 100}
-99993530.16191109

It says the Ridge Regression works better for this use case when compare to Lasso Regression

But in most of the situation we will get Better results for Lasso Regression because it just removes the feature when there mean value reaches to close to 0